<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danke für Ihre Anmeldung</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('img/wave.jpg');
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .message {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="message">
        <h1 style="color: white">Vielen Dank für Ihre Anmeldung!</h1>
    </div>

</body>
</html>
